body {
    background-color: #ffffff;
/*  margin-top: 60px;
    margin-left: 40px; */
    width: 95%;
}

header {
    background-color:#d3d3d3;
    padding: 20px 0px 0px 20px;
    width: 90%;
}

header ul {
    margin-left: 300px;
}

header li {
    display: inline-block;
    padding-bottom: 30px;
    padding-top: 10px;
}

footer li {
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    /* padding-left: 200px; */
}

footer {
    background-color:#d3d3d3;
    padding: auto;
    width: 90%;
}

header .resume {
    /* background-color:ffffff; */
    padding: auto;    
}

aside {
    /* margin-top: 20px; */
    padding: 10px;
    background-color: aquamarine;
    display: inline-block;
    width: 25%;
}
      
#inlineFrame1 {
    height: 750px;
    width: 100%;
    display: inline-block;
}
    
/* #inlineFrame2 {
    width: auto;
    height: 800px;
    display: inline-block;
    position: absolute;
    left: 20px;
} */

article {
background-color: chartreuse;
display: inline-block;
vertical-align:top;
padding-left: 100px;
padding-top: 50px;
height: 720px;
width: 55%;
}

table {
    border-collapse: collapse;
    background-color: #f0f2f3;
    max-width: 700px;
    margin: 50px;
    display: inline-block;
}

.tableStyle {
    background-color: #ffffff;
}

th {
    color: #0647eb;
    border: 1pt solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

td {
    padding: 1px 20px 1px 20px;
    border: 1pt solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

td p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 20px;
}

.resume {
    background-color: #ffffff;
    color:#0647eb;   
}

h1 {
    color: #0647eb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 20px;
}

