body {
    background-color: #add8e6;
    width: 95%;
}

header {
    background-color:#d3d3d3;
    padding: 0px 0px 0px 20px;
    width: 100%;
}

header ul {
    padding-bottom: 10px;
}

header li {
    display: inline;
    padding-right: 20px;
    max-width: 70px;
}

header h1 {
    padding-bottom: 0px;
}

h1 {
    color: #0647eb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
}

footer {
    /* display: block; */
    background-color:#d3d3d3;
    padding-left: 30px;
    padding-right: 30px;
    /* padding-bottom: 30px; */
}

footer ul {
    background-color: pink;
    margin-top: 0px;
    /* display: inline; */
}

footer li {
     display: inline;
}

#sitemap {
    background-color: #0647eb;
    color: #ffffff;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
}

#sitemap a {
    color: #ffffff;
}

header .resume {
    /* background-color:ffffff; */
    padding: auto;    
}

aside {
    /* margin-top: 20px; */
    padding: 10px;
    background-color: aquamarine;
    display: inline-block;
    width: 33%;
}
      
#inlineFrame1 {
    height: 750px;
    width: 100%;
    display: inline-block;
}
    
article {
    background-color: chartreuse;
    display: inline-block;
    vertical-align:top;
    padding-left: 60px;
    margin-left: 10px;
    height: 720px;
    width: 55%;
}

table {
    border-collapse: collapse;
    background-color: #f0f2f3;
    max-width: 700px;
    margin: 30px;
    display: inline-block;
}

.tableStyle {
    background-color: #ffffff;
}

th {
    color: #0647eb;
    border: 1pt solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

td {
    padding: 1px 20px 1px 20px;
    border: 1pt solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

td p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 20px;
}

.resume {
    background-color: #ffffff;
    color:#0647eb;   
}



p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 20px;
}

/* #inlineFrame2 {
    width: auto;
    height: 800px;
    display: inline-block;
    position: absolute;
    left: 20px;
} */